<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ $styles := resources.Get "css/main.css" | minify }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}">  
</head>
<body>
    <div class="container">
        <header>
            <h1><a href="/">{{ .Site.Title }}</a></h1>
        </header>
        <main>
            <article>
                <h2>{{ .Title }}</h2>
                <p><small>{{ .Date.Format "January 2, 2006" }}</small></p>
                {{ .Content }}
            </article>
        </main>
    </div>
</body>
</html>
